* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.bg {
    display: flex;
    background-image: url("images/project3.png");
    width: 1440px;
    height: 1080px;
  }


h1, p {
    font-size: 40px;
    margin: 50px;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(185, 51, 185)
}

a:hover {
    color: rgb(53, 174, 234)
}

a:active {
    color:#E5E000;
}

.container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    width: 1440px;
    
}

.bar-header {
    display: flex;
    color: #FFFF;
    background-color: #E5E000;
    height: 200px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.bar-info {
    display: flex;
    color: #FFFF;
    background-color: #E5E000;
    height: 100px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.container-about {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}


.bar-footer {
    display: flex;
    color: #FFFF;
    background-color: #E5E000;
    margin-top: 100px;
    width: 100%;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex: 2;
}